{% extends "smoothies/base.html" %}

{% block content %}
<h1>Smoothie # {{object.id}}</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                        <p><strong>Ingredients:</strong> {{ object.ingredients }}</p>
                        <p><em>Posted on {{ object.date_posted }} by {{ object.author }}</em></p>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
